.header {
  background-image: url("https://images.unsplash.com/photo-1607457561901-e6ec3a6d16cf?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGlnaHQlMjBwaW5rJTIwcGF0dGVybnxlbnwwfHwwfHx8MA%3D%3D");
  text-align: center;
  padding: 20px;
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: pink;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: magenta;
  color: black;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 20.33%;
  padding: 15px;
}


#Header-2{
  background-color: MistyRose;
  text-align: left;
  padding: 20px;
}

#Header-3{
  background-color: mistyrose;
  text-align: left;
  padding: 20px;
  float: left;
  clear: left;
}


