.header {
  background-image: url("https://images.unsplash.com/photo-1607457561901-e6ec3a6d16cf?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGlnaHQlMjBwaW5rJTIwcGF0dGVybnxlbnwwfHwwfHx8MA%3D%3D");
  text-align: center;
  padding: 20px;
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: pink;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: magenta;
  color: black;
}

/* Create three equal columns that floats next to each other */
.column {
  
}

.person {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.person-evenspacing {
  width: 25%;
  } 

#Header-2{
  background-color: MistyRose;
  text-align: left;
  padding: 20px;
}


/* Shop CSS */

.flex-column-shop {
  display:flex;
  flex-direction: row;
  padding: 15px;
  background-color: #f1f1f1;
}

.shop-images{
  object-fit: cover; 
  width: 200px;
  height: 200px;
}

.button {
  background-color: lightpink;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
}

  .flex-container {
    display: flex;
    height: 400px;
    margin: 10px;
    padding: 20px;
    justify-content: space-between;
    background-color: #f1f1f1;
  }
  
  #titlebox {
    width: 425px;
    height: 345px;
    background-color: lightcyan;
    font-size: 30px;
    padding: 5px;
  }
  
  #main-image {
    width:450px;
    height:350px ;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:350px;
  }
  
  #trix{
    width: 100%;
    height: 100%;
  }
  
  #title {
    align: left;
    font-style: underline;
    font-size: 30px;
  }
  
  #text {
    font-size: 15px;
    font:
  }
  
  
  .trix-images {
      width:  200px;
      height: 110px;
      object-fit: cover;
      padding: 5px;
  }