.header {
  background-image: url("https://images.unsplash.com/photo-1607457561901-e6ec3a6d16cf?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGlnaHQlMjBwaW5rJTIwcGF0dGVybnxlbnwwfHwwfHx8MA%3D%3D");
  text-align: center;
  padding: 20px;
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: pink;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: magenta;
  color: black;
}

#Header-2{
  background-color: MistyRose;
  text-align: left;
  padding: 20px;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 25%;
  height: 300px;
  object-fit:cover;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 200px;
  length: 400px;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: lightpink;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

#artist-images {
  display:flex;
}

.button {
  align:center;
  background-color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  font-size: 10px;
  }
}